*{
    margin:0;
    padding: 0;
}

body{
    height:90vh
}
/* navbar */
.navbar{
    display: none !important;
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    position: absolute;
    top: 0;
    background-color: black;
}
.navbar-sign-in-btn{
    border: none;
    border: 1px solid skyblue;
    color: black;
    background-color: white;
    border-radius: 30%;
    width: 200%;
}
.logo{
    margin-left: 5% !important;
}
.togglebtn{
    color: white;
}
@media screen and (max-width: 1024px) {
    .navbar{
        display: flex !important;
    }
}
/* sidebar */
@media screen and (max-width: 1024px){
    .sidebar{
        display: none;
    }
}
.sidebar{
    margin-left: 0.9%;
    position: fixed;
    border: 1px solid silver;
    height: 100vh;
    z-index: 3;
    background-color: black;
}
/* sidebar up */
.fa-soundcloud{
    color: skyblue;
    margin-left:15%;
    margin-top: 4%;
}
.title{
    font-size: 1.2em;
    color: skyblue;
    font-family: 'Lobster', sans-serif;
    margin-top: 2vh !important;
}
.sidebar-list{
    background-color: black;
    padding: 0;
    margin-left: 20%;
    margin-top: 1%;
    line-height: 350%;
    list-style: none;
}
.sidebar-list a{
    font-weight: 500;
    color: white;
    text-decoration: none;
}
/* sidebar down */
.sidebar-down{
    border-top: 1px solid silver;
    background-color: black;
}
.sidebar-down .btn{
    font-weight: 500;
    border: 1px solid;
    margin: 20% 17% 10% 10%;
    border-radius: 15px;
    width: 50%;
}
.sidebar-down p{
    margin:0 22%;
    width: 50%;
    color: gray;
    font-size: 0.8rem;
}

/* main display */
.main-display{
    position: absolute;
    left: 15%;
    width: 85% !important;
    z-index: 1;
    background-color: black;
    border: 1px solid silver;
    min-height: 200vh;
}
@media screen and (max-width: 1024px){
    .main-display{
        left: 0;
        width: 100% !important;
    }
}
@media screen and (max-width: 992px){
    .main-display{
        min-height: 300vh;
    }
}

/* top pick */
.top-pick{
    box-shadow: 0px 0px 30px skyblue;
    display: flex;
    position: absolute;
    width: 45%;
    top: 1.5%;
    left: 25%;
    height: 15%;
}
@media screen and (max-width: 1192px) {
    .top-pick{
        width: 50%;
    }
}
.top-pick-image{
    height: 100%;
}
.top-pick-details{
    height: 100%;
    width: 100%;
    border: 1px solid white;
}
.top-pick-heading{
    margin-top: 1vh  ;
    margin-left: 10%;
    color: white;
    font-family: 'agbalumo', sans-serif;
    font-weight: 600;
    font-size: 2em;
}
.top-pick-text{
    font-size: 2em;
    font-family: 'Josefin Sans', sans-serif;
    margin-top: 1%;
    margin-left: 10%;
    color: white;
}
.top-pick-details .btn{
    margin-left: 10%;
    border-radius: 15px;
}
@media screen and (max-width: 1024px) {
    .top-pick{
        z-index: 4;
        display: none;
        background-color: black;
        width: 80%;
        left: 10%;
        top: 10vh;
        height: 30vh;
    }
    .top-pick-image{
        height: 30vh;
        width: 100%;
    }
    .top-pick-details{
        height: 30vh;
    }
}
@media screen and (max-width: 425px){
    .top-pick-heading{
        font-size: 1.5em;
    }
    .top-pick-text{
        font-size: 1.5em;
    }
}
/* main display .content */
.content{
    position: absolute;
    top: 18.5%;
    left: 8%;
    width: 80%;  
}
@media screen and (max-width: 1024px) {
    .content{
        top: 1%;
    }
}
.message{
    font-size: 1.8em;
    font-weight: 700;
    color:white;
    margin-left: 0;
    margin-bottom: 1%;
}
.cards{
    width: 100%;
    margin:6vh 0 3vh 0;
    padding: 2%;
}
.song-card{
    margin: 6% 8% 0 0;
}
.card-body{
    border-bottom-left-radius: 10px;
    border: 1px solid white;
    background-color: black;
    height: 15vh;
}
.card-body p{
    color: white;
    font-weight: 500;
    margin: 1.5% 0 5% 10%;
}
.card-btn{
    margin-left: 10%;
}
.card-image-top{
    border: 1px solid white;
    height: 44%;
    width: 100%;
}
@media screen and (max-width:575px) {
    .card3{
        display: none !important;
    }
    .card-body{
        font-size: 0.8em;
    }
}
@media screen and (max-width: 767px){
    .song-card{
        margin: 0 !important;
    }
}
/* footer */
footer{
    position: fixed;
    left: 0;
    top: 86vh;
    z-index: 4;
}
.Player{
    border: 1px solid silver;
    width: 100%;
    background-color: black;
    height: 14vh;
    /* padding: 10%; */
}
.album-img{
    border: 1px solid white;
    border-radius: 10%;
    margin-top: 11%;
    margin-left: 25%;
    height: 10vh;
    width: 80%;
}
.song-name{
    /* height: 11.9%; */
    margin-right: 5%;
    margin-left: 1%;
    overflow-x: scroll;
    overflow-y: scroll;
}
/* scroll bar hide */
.song-name::-webkit-scrollbar {
    display: none; /*chrome, safari and opera*/

}
.song-name{
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
@media screen and (max-width: 768px) {
    .song-name{
        margin-right: 0;
    }
}
.song-name-text{
    white-space: nowrap;
    margin-top: 5%;
    margin-bottom: 0;
    color: white;
}
.song-name-text:hover{
    text-decoration: underline;
}
.song-artist-text{
    white-space: nowrap;
    margin-top: 5%;
    color: white;
    filter: brightness(50%);
    font-size: 0.8em;
}
.song-artist-text:hover{
    filter: brightness(100%);
    text-decoration: underline;
}
.controls{
    height: 12%;
    padding: 3%;
}
.controls-up{
    color: white;
    height: 2vh;
    margin-bottom: 1vh;
}
.left-icon{
    margin-left: 40%;
}
@media screen and (max-width: 768px){
    .left-icon{
        margin-left: 25%;
    }
}
.fa-circle-chevron-left{
    margin-left: 20%;
}
.play-icon .fa-play{
    margin-left: 50%;
}
.fa-pause{
    margin-left: 50%;
}
.fa-circle-chevron-right{
    margin-left: 25%;
}
.player-functions{
    padding: 1%;
}
.fa-list-ul{
    color: white;
}
.fa-volume-high{
    color: white;
}
.volume{
    height: 3vh;
}
.song-current-time{
    color: white;
}
.song-duration-time{
    float: right;
    color: white;
}
.time-slider{
    margin-top:2vh;
}
@media screen and (max-width: 575px){
    .song-name{
        display: none;
    }
    .player-functions{
        display: none;
    }
}
.dropdown{
    display: none;
    background-color: black;
}
.dropdown-list{
    border-top: 1px solid silver;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    margin: 0;
    background-color: black;
    line-height: 350%;
    list-style: none;
}
.dropdown-list-item a{
    font-weight: 500;
    color: white;
    text-decoration: none;
}
